.all_name__container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .single_name__container {
    display: flex;
    justify-content: space-between;
    line-height: 1rem;
    align-items: center;
    justify-items: center;
    background-color: beige;
    padding: 5px 5px;
    border-radius: 5px;
  }
  .single_name__gender {
    background-color: white;
    padding: 5px 5px;
    border-radius: 5px;
  }
  .deleteElement_button{
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: #f8cbd1;
      padding: 5px 5px;
      width: 2rem;
      height: 2rem;
      border-radius: 5px;
      border:none
  }
  