.content-container{
    display:flex;
}
.content-container__half{
    display:flex;
    flex-direction:column;
    justify-content: center
}
.app-container {
    display:flex;
    justify-content: center;
    flex-direction: column;

}
@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  h1 {
    font-family: 'Rocher';
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    margin: 0;
  }
  
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }

  .purples {
    font-palette: --Purples;
  }