<div class="container-content mt-5 mb-5 container-fluid app-container">
  <div class="container content-container">
    
    <div class="container content-container__half"><h1 class="'purple mb-3">BABY NAME CATALOG</h1>
      <p>
        The favorite names of the year are keeping things short and sweet, with
        the occasional throwback, too! As the world’s spread of interest grows,
        so does the spread of baby name choices.
      </p>
      <app-switch (newItemEvent)="switchGenderMain($event)"></app-switch>

      <app-form (newItemEvent)="addNameMain($event)"> </app-form>
    </div>
    <div class="container content-container__half">
      <app-list
        [namesList]="this.names"
        (newItemEvent)="getDeleteName($event)"
      ></app-list>
    </div>
  </div>
</div>
