<h2>GENDER NEUTRAL NAMES</h2>
<p>
  Here are ten popular gender-neutral names: Avery, Riley, Jordan, Morgan,
  Taylor, Casey, Jamie, Hayden, Alex, Quinn. <br />
  It's important to note that what is considered a gender-neutral name can vary
  depending on cultural and regional contexts. These names may be more commonly
  used as gender-neutral in some places, while in other places they may be more
  commonly associated with one gender or the other. Additionally, some parents
  choose to use traditionally gendered names for their child regardless of
  gender, so the concept of a "gender-neutral" name is constantly evolving.
</p>
<p>counter works!</p>
<!-- <button (click)="increment()">Increment</button> -->

<div>Current Count: {{ genderNeutralNames$ | async }}</div>

<!-- <button (click)="decrement()">Decrement</button> -->

<!-- <button (click)="reset()">Reset Counter</button> -->