input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
    margin: 0;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: pink;
    display: block;
    border-radius: 25px;
    position: relative;
  }
  
  label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    right: 2px;
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    border-radius: 22.5px;
    transition: 0.6s;
  }
  
  input:checked + label {
    background: lightblue;
  }
  
  input:checked + label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }
  
  // centering
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .toggleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .gender_girl {
    color: pink;
  }
  .gender_boy {
    color: lightblue;
  }
  