<div class="component_name-importance">
  <br />
  <div class="component_name-importance__text">
    <div class="component_name-importance__text-half-1">
      <h2 class="component_name-importance__header">Names are IMPORTANT</h2>
      <h6 class="component_name-importance__quote">
        "A child's name is their first identity, the foundation of their sense
        of self and how they are perceived by others. It is a gift that will
        stay with them for a lifetime." - Unknown
      </h6>
    </div>

    <div class="component_name-importance__text-half-2">
      <p class="component_name-importance__paragraph">
        Baby names are particularly important for several reasons:
        Individuality: Choosing a baby name allows parents to give their child a
        unique identity. A name is something that will stay with a child for the
        rest of their life, and can help them stand out as an individual. Family
        and cultural heritage: Baby names can reflect a family's cultural or
        religious heritage, and can be a way to honor ancestors or carry on
        family traditions. Emotional connection: The process of choosing a baby
        name can create an emotional connection between parents and their child.
        It can be a way to express love and affection, and can help parents feel
        more connected to their child. Social impact: Baby names can also have
        social impact. Names can be used to challenge gender norms, celebrate
        diversity, or make a political statement. Overall, baby names are
        important because they can shape a child's identity and have a lasting
        impact on their life.
      </p>
    </div>
  </div>
</div>
